@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400&family=Merriweather:wght@400;700&display=swap');


* {
    font-family: Lora, serif
}

body a {
    color: rgb(27, 24, 24);
}

img {
    width:auto;
    height: 300px;
}

.home {
    width: 500px;
    margin-left: 40px;
    padding-top: 40px;
    padding-left: 50px;
}

h1 {
    font-family: Merriweather, serif;
    font-size: 44px;
}

.recipe-list {
    width: 300px;
} 
.recipe-list li {
    font-weight: 500;
}

.recipe {
    width: 500px;
    padding-left: 20px;
}

.recipe p, .recipe li {
    font-weight: 500;
}